<!DOCTYPE html>
{% extends 'base.html' %}


{% block content %}
      <!-- Callout -->
    <div class="container-fluid callout-container">  
      <div class="row">
          <div class="col-12">
              <div class="callout jumbotron text-center">
		         <p class="lead">Work from anywhere with the right equipment! </p>
              </div>
          </div>
      </div>
    </div>  
  
<div class="container product-container">
    <h3 class="heading text-center">Our Best Sellers</h3>
    <div class="row">
        {% for product in products %}
            <div class="col-sm-12 col-lg-3 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="/media/{{ product.image }}" />
                    <div class="card-body text-center">
                        <h2 class="product-name">{{ product.name }}</h2>
                        <hr>
                        <span class="product-price"><i class="fas fa-euro-sign"></i> {{ product.price }}</span>
                    </div>    
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}