<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block page_title %}
  Login Page
{% endblock %} 
 
{% block page_heading %}
  User Login
{% endblock %} 
 
 {% block content %}
<div class="container login-container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <form method="POST" class="login">
                <h1 class="log-header text-center">Login</h1>
                {% csrf_token %} {{ login_form | as_bootstrap }}
                <button type="submit" class="btn">Register</button>
            </form>
            <p><a id="reset" href="{% url 'password_reset' %}">Reset Password</a></p>
        </div>
    </div> 
</div> 
{% endblock %}